@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat');
.navbar {
  padding: 10px; 
  height: 80px;
  transition: all 0.5s ease;
  background-color: #335D6B;
  border: 0;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 70px;
}
.navbar-brand {
  font-family: Lobster Two, Arial, Sans-serif;
  color: #FFF !important;
  font-size:50px;
  padding: 20px 40px;;
  transition: all 0.5s ease;
}
.navbar-brand:hover {
  color: #000 !important;
}
li {
  color: #FFF !important;
  font-size:20px;
  padding: 20px;
  transition: all 0.5s ease;
}
li.shrink {
  font-size: 15px;
  padding: 1px;
  padding-left: 30px;
}
li.shrink {
  font-size: 15px;
  padding: 1px;
  padding-left: 30px;
}
  .shrink {
   transition: all 0.5s ease;
}
 .navbar.shrink {
  height: 50px;
}
.navbar-brand.shrink {
  height: 50px;
  font-size: 30px;
  padding: 5px;
}
.start {
  margin-bottom: 0;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.7)
    url("http://res.cloudinary.com/dttheme/image/upload/v1505159291/back1_wlqx4n.jpg");
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 1000px;
  position: relative;
  color: #FFF !important;
  font-weight: bold;
  letter-spacing: 1px;
}
.h1, h1 {
  opacity: 1 !important;
  font-size: 50px !important;
}
h1:hover {
  color: #757575 !important;
}
h2:hover {
  color: #000 !important;
}
.intro {
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 0 auto !important;
  margin-top: 130px !important;
  width: 100% !important;
  position: absolute;
  top: 250px;
}
.inner {
  width: 100%;
  display: inline-block;
  padding: 20px;
}
.btn {
  margin: 10px !important;
  padding: 10px 15px !important;
  border: 0 !important;
}
.middle {
  height: auto;
  background: #FFF;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.middletext {
  position: relative;
  text-align: center !important;
}
.about {
  padding: 100px;
}
#about {
 padding: 100px; 
}
h2 {
  color: #757575 !important;
  font-size: 40px;
  font-weight: bold;
}
.me {
  border-radius: 50%;
}
.socialmedia {
  padding-top: 110px;
  text-align: center;
}
.socialmedia  a {
  padding: 70px 140px;
  color: #757575;
}
.socialmedia a:hover {
  color: #000;
}
.middle2 {
  background: rgba(0, 0, 0, 0.7)
    url("http://res.cloudinary.com/dttheme/image/upload/c_crop,h_2000/v1505167387/back2.jpg");
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 1000px;
  margin-bottom: 0;
  padding-top: 300px !important;
  padding-bottom: 0px !important;
  width: 100%;
  position: relative;
 
}
.projects {
  position: absolute !important;
  padding: 50px;
  background-color: #FFF;
  width: 100% !important;
  margin: 0 auto;
  height: 500px !important;
  text-align: center;
}
.bump {
  margin-top: 30px;
}
.middle3 {
  background: rgba(0, 0, 0, 0.7)
    url("http://res.cloudinary.com/dttheme/image/upload/c_crop,h_2000/v1505167387/back2.jpg");
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  height: auto;
  padding-top: 130px !important;
  padding-bottom: 130px !important;
  width: 100%;
}
.contact {
  background-color: #FFF;
  width:100%;
  height: 600px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 50px;
  text-align: center;
}
.end {
  background: rgba(0, 0, 0, 0.7)
    url("http://res.cloudinary.com/dttheme/image/upload/c_crop,h_2000/v1505167387/back2.jpg");
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  height: auto;
  padding-top: 130px !important;
  padding-bottom: 130px !important;
  width: 100%;
  position: relative;
}
#form-main {
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}
#form-div {
  background-color: #FFF;
  border-radius: 10px;
  padding: 0;
  margin: 0 auto;
  max-width: 700px;
}
.feedback-input {
  font-family: Montserrat, Arial, sans-serif;
  color: #FFF !important;
  background-color: #335D6B;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  line-height: 25px;
  padding: 10px;
  width: 100%;
  margin-bottom: 0;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}
.feedback-input:focus {
  border: 3px solid #AACFDB;
  outline: none;
  padding: 10px;
}
textarea {
  width: 100%;
  height: 200px;
  line-height: 150%;
  resize: vertical;
}
#button-blue {
  font-family: Montserrat, Arial, sans-serif;
  width: 100%;
  border: 3px solid #AACFDB;
  cursor: pointer;
  background-color: #3498db;
  color: #FFF;
  font-size: 30px;
  padding: 30px;
  border-radius: 10px;
  transition: all 0.3s;
  font-weight: 700;
}
#button-blue:hover {
  background-color: #FFF;
  color: #0493bd;
}
.submit:hover {
  color: #3498db;
}
.ease {
  width: 0;
  height: auto;
  background-color: #fbfbfb;
  transition: 0.3 ease;
}
.submit:hover .ease {
  width: 100%;
  background-color: white;
}
body {
  font-family: Montserrat, Arial, sans-serif;
  
}