body {
  background-color: rgb(178, 163, 200, 0.3);
}
.app-wrapper {
  display: grid;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  max-width: 600px;
  margin: 0 auto;
}

p {
  text-align: left;
}

h2,
h3,
ul {
  text-align: left;
}

.card {
  border: 1px dotted lightgray;
  background-color: #fff;
  padding: 2em;
  margin: 0.5em 0;
  text-align: center;
}

.header {
  text-align: center;
}

.social {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
}

.social img {
  max-width: 30px;
}

.credit {
  text-align: center;
}

li {
  padding-bottom: 10px;
}
